*~
_build
setup.data
setup.log
*.native
*.byte
*.cmo
*.cmi
*.cmt
*.cmx
*.cmxa
*.cma
*.cmxs
*.a
*.o
*.dll
*.lib
*.so
*.otarget
src/client_qt/Makefile
src/client_qt/client_qt
src/client_qt/moc_*.cpp
src/client_qt/qrc_*.cpp
src/client_qt/ui_*.h