*~
_build
setup.data
setup.log
*.native
*.byte
*.cmo
*.cmi
*.cmt
*.cmx
*.cmxa
*.cma
*.cmxs
*.a
*.o
*.dll
*.lib
*.so
*.otarget
client/Makefile
client/client_qt
client/moc_*.cpp
client/qrc_*.cpp
client/ui_*.h
build/